$primary-text-color: #fff;
$secondary-text-color: rgb(0, 219, 197);
$gray-text-color: gray;
$default-border-color: #310048;
$primary-font-size: 14px;
$default-list-margin-bottom: 1.5em;
$default-user-font-size: 12px;
$input-background: #2e053f;
$mobile-header-background: #7D3A5B;


@mixin primary-backround{
    background: rgb(119, 28, 122);
    background: linear-gradient(0deg, rgb(89, 34, 91) 6%, rgba(125,58,91,1) 34%, rgb(86, 14, 88) 80%);
    background-attachment: fixed;

}



@mixin input-style-0 {
    width: 100%;
    background-color: $input-background;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    color: $primary-text-color;
    &:focus {
        outline: none;
    }
    &::placeholder {
        font-weight: 300;
        color:$gray-text-color;
        font-size: 16px;
    }
}





@mixin gradient-border {
    background: conic-gradient(from 288deg at 94% 54%, #CDB3D6 75%, #7D3A5B 100%, transparent 100%);
    border-radius: 50px;
    padding: 4px;
    box-sizing: content-box;
    &:hover {
        background: conic-gradient(from 288deg at 94% 54%, #fffcfc 75%, #7D3A5B 100%, transparent 100%);
    }
}



.white-link-hover {
    color: $primary-text-color;
}


.icon-text {
    .left-menu-text {
        width: 0px;
        overflow: hidden;
        transition: 1s;
    }
    &:hover .left-menu-text, .active {
        width: 100%;
    }
}




.default-btn {
    background: transparent;
    color: $secondary-text-color;
    border: none;
    font-size: $default-user-font-size;
    &:hover {
        opacity: 0.8;
    };
}


.secondery-btn {
    padding: 5px 10px;
    border:none;
    border-radius: 5px;
    background: $secondary-text-color;
    &:hover {
        background-color: $primary-text-color;
    }
}

.user-logout-btn {
    background-color: rgb(42, 42, 42);
    color:white;
    &:hover {
        background-color: black;
    }
}



.input-dft {
    @include input-style-0;
}




.icon-text {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}
