$big-icon-size: 24px;
$color_alert: #CC3300;
$primary-text-color: #fff;
$secondary-text-color: rgb(0, 219, 197);
$gray-text-color: gray;
$color_off_white: rgb(239, 239, 239);
$default-border-color: #371b44;
$primary-font-size: 14px;
$default-list-margin-bottom: 1.5em;
$default-user-font-size: 12px;
$input-background: #20032c;
$mobile-header-background: #b7226c;
$mobile_content_max_width: 500px;
$mobile_header_give_space: 70px;
$title_font_size: 24px;
$site_alert_color: rgb(255, 129, 129);
$site_color2: rgb(91, 82, 97);
$site_black: black;
$site_black_overlay: #0000006f; 
$small_font_size: 12px;

@mixin primary-backround{
    background: rgb(6, 0, 6);
    background: linear-gradient(0deg, rgb(0, 0, 0) 6%, rgb(50, 22, 37) 34%, rgb(0, 0, 0) 80%);
    background-attachment: fixed;

}



@mixin input-style-0 {
    width: 100%;
    background-color: $input-background;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    color: $primary-text-color;
    &:focus {
        outline: none;
    }
    &::placeholder {
        font-weight: 300;
        color:$gray-text-color;
        font-size: 16px;
    }
}





@mixin gradient-border {
    // background: conic-gradient(from 288deg at 94% 54%, #CDB3D6 75%, #7D3A5B 100%, transparent 100%);
    // border-radius: 50px;
    // padding: 4px;
    // box-sizing: content-box;
    // &:hover {
    //     background: conic-gradient(from 288deg at 94% 54%, #fffcfc 75%, #7D3A5B 100%, transparent 100%);
    // }
    border : 4px solid $default-border-color;
}




@mixin scroll_bar_style {
    
    // scroll bar style
    /* Custom scrollbar styles for WebKit browsers */
    &::-webkit-scrollbar {
        width: 7px; /* Width of the scrollbar */
        height: 8px;
    }

    &::-webkit-scrollbar-track {
        background: $input-background; /* Color of the track */
        border-radius: 10px; /* Optional: round corners */
    }

    &::-webkit-scrollbar-thumb {
        background-color: $default-border-color; /* Color of the thumb */
        border-radius: 10px; /* Roundness of the thumb */
        border: 1px solid transparent; /* Padding around the thumb */
        background-clip: content-box; /* Ensures the padding is inside the box */
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: $site_color2 ; /* Darker color when hovering */
    }

    &::-webkit-scrollbar-corner {
        background: #f1f1f16c; /* Background color of the bottom-right corner */
    }
}








.white-link-hover {
    color: $primary-text-color;
}


.white-link-hover  {
    .left-menu-text {
        width: 0px;
        overflow: hidden;
        transition: 1s;
    }
    &:hover .left-menu-text{
        width: 100%;
    }
}
.active .left-menu-text{
    width: 100%;
}




.default-btn {
    background: transparent;
    color: $secondary-text-color;
    border: none;
    font-size: $default-user-font-size;
    &:hover {
        opacity: 0.8;
    };
}


.secondery-btn {
    padding: 5px 10px;
    border:none;
    border-radius: 5px;
    background: $secondary-text-color;
    width: 100%;
    &:hover {
        background-color: $primary-text-color;
    }
}


.delete-btn {
    background-color: $site_alert_color;
}


.user-logout-btn {
    background-color: rgb(42, 42, 42);
    color:white;
    &:hover {
        background-color: $site_alert_color;
    }
}



.input-dft {
    @include input-style-0;
}




.icon-text {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}


.liked-icon {
    color: $secondary-text-color !important;
    
}


.icon-link {
    .material-symbols-outlined {
        font-size: $big-icon-size;
        height: 40px;
        width: 35px;
        cursor: pointer;
        &:hover {
            font-size: 2.5em;
        }
    }
    
}


.gray-out-text {
    color: $gray-text-color ;
    margin-bottom: 1em;
    font-size: $default-user-font-size;
    margin-bottom: 0;
}




// Hide
.hide {
    display: none;
}






.pointer {
    cursor: pointer;
    &:hover {
        opacity: 0.7;;
    }
}


// All tiltels
.title-1 {
    font-size: $title_font_size;
    font-weight: 500;
}


@mixin move-animation($duration, $distance) {
    animation: move $duration infinite alternate;
    
    @keyframes move {
      0% {
        transform: translateY(-50px);
      }
      15% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(0);
      }
      100% {
        transform: translateY($distance);
      }
    }
  }




//Top-alert
.top-alert {
    position: fixed;
    z-index: 999;
    width: 100%;
    @include move-animation(7s, -100px );
    .top-alert-module {
        max-width: 85%;
        position: absolute;
        left: 50%; 
        transform: translate(-50%, -50%); 
        background: $color_alert;
        padding: 5px 40px;
        border-radius: 0 0 5px 5px;
        padding-top: 30px;
        margin-top: 5px;

        .alert-text {
            color: $primary-text-color;
            font-size: 1.2em;
            font-weight: 300;
            text-align: center;
        }
    }
}






//Pop up style
.pop-in-middle-screen {
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 100vh;
    background-color: $site_black_overlay;
    .pop-data-box {
        position: absolute;
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        background: $site_black;
        border-radius: 10px;
        padding: 20px;
        padding-top: 40px;
        padding-bottom: 10px;
        color: white;
        width: 500px; 
        overflow: hidden;
        .new-post-title {
            position: absolute;
            top:10px;
            right: 0;
            p{
                display: inline-block;
            }
            .icon-link {
                float: right;
            }
        }
    }

    .main-me {
        text-align: right;
        margin-top: 10px;
        a {
            color: $gray-text-color;
            font-size: $default-user-font-size;
            &:hover {
                color: $secondary-text-color;
            }
        }
    }
}






// friends-profile
.friends-profile {
    .user-image {
        img {
            width: 100%;
            border-radius: 7px;
        }
    }
}


.all-comments {
    ul {
        max-height: 60px;
        overflow: hidden;
        transition: all,0.3s;
        padding-right: 5px;
        li {
            display: flex;
            align-items: baseline;
            padding: 3px 0;
            p {
                font-size: $small_font_size;
                color: $gray-text-color;
                line-height: 1.2;
            }
            .comment_by {
                max-width: 80px;
                .user {
                    color: $primary-text-color;
                    font-weight: 300;
                }
            }
            .comment {
                border-bottom: 1px solid $default-border-color;
                border-right: 1px solid $default-border-color;
                margin-bottom: 5px;
                padding-bottom: 5px;
                padding: 0 5px;
                margin-left: -1px;
                
                
                .comt-time {
                    margin-top: 5px;
                    font-weight: 400;
                    padding-right: 5px;
                    padding-bottom: 5px;
                    height: 100%;
                    font-size: 10px;
                    text-align: right;
                    color: $site_color2;
                }
            }
        }
    }

    .secondery-btn {
        border: 1px solid $default-border-color;
        background: transparent;
        padding: 3px;
        font-size: $small_font_size;
        border-radius: 0 0 3px 3px;
        color: $primary-text-color ;
        font-weight: 200;
        &:hover {
            color: $color_off_white;
            background: $default-border-color;
        }
    }

    .full_comments {
        max-height: 400px;
        overflow: auto;
        @include scroll_bar_style;
    }
}




// search-module
.search-module {
    display: flex;
    column-gap: 5px;
    .secondery-btn {
        background-color: $default-border-color;
        color: white;
        max-width: 80px;
        &:hover {
            opacity: 0.9;
        }
    }
    input {
        @include input-style-0;
    }
}