$big-icon-size: 24px;
$primary-text-color: #fff;
$secondary-text-color: rgb(0, 219, 197);
$gray-text-color: gray;
$default-border-color: #371b44;
$primary-font-size: 14px;
$default-list-margin-bottom: 1.5em;
$default-user-font-size: 12px;
$input-background: #2e053f;
$mobile-header-background: #b7226c;
$mobile_content_max_width: 500px;
$mobile_header_give_space: 70px;
$title_font_size: 24px;
$site_alert_color: rgb(255, 129, 129);
$site_black: black;
$site_black_overlay: #0000006f; 

@mixin primary-backround{
    background: rgb(6, 0, 6);
    background: linear-gradient(0deg, rgb(0, 0, 0) 6%, rgb(50, 22, 37) 34%, rgb(0, 0, 0) 80%);
    background-attachment: fixed;

}



@mixin input-style-0 {
    width: 100%;
    background-color: $input-background;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    color: $primary-text-color;
    &:focus {
        outline: none;
    }
    &::placeholder {
        font-weight: 300;
        color:$gray-text-color;
        font-size: 16px;
    }
}





@mixin gradient-border {
    // background: conic-gradient(from 288deg at 94% 54%, #CDB3D6 75%, #7D3A5B 100%, transparent 100%);
    // border-radius: 50px;
    // padding: 4px;
    // box-sizing: content-box;
    // &:hover {
    //     background: conic-gradient(from 288deg at 94% 54%, #fffcfc 75%, #7D3A5B 100%, transparent 100%);
    // }
    border : 4px solid $default-border-color;
}



.white-link-hover {
    color: $primary-text-color;
}


.white-link-hover  {
    .left-menu-text {
        width: 0px;
        overflow: hidden;
        transition: 1s;
    }
    &:hover .left-menu-text{
        width: 100%;
    }
}
.active .left-menu-text{
    width: 100%;
}




.default-btn {
    background: transparent;
    color: $secondary-text-color;
    border: none;
    font-size: $default-user-font-size;
    &:hover {
        opacity: 0.8;
    };
}


.secondery-btn {
    padding: 5px 10px;
    border:none;
    border-radius: 5px;
    background: $secondary-text-color;
    width: 100%;
    &:hover {
        background-color: $primary-text-color;
    }
}


.delete-btn {
    background-color: $site_alert_color;
}


.user-logout-btn {
    background-color: rgb(42, 42, 42);
    color:white;
    &:hover {
        background-color: $site_alert_color;
    }
}



.input-dft {
    @include input-style-0;
}




.icon-text {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}


.liked-icon {
    color: $secondary-text-color !important;
    
}


.icon-link {
    .material-symbols-outlined {
        font-size: $big-icon-size;
        height: 40px;
        width: 35px;
        cursor: pointer;
        &:hover {
            font-size: 2.5em;
        }
    }
    
}


.gray-out-text {
    color: $gray-text-color ;
    margin-bottom: 1em;
    font-size: $default-user-font-size;
    margin-bottom: 0;
}





.pointer {
    cursor: pointer;
    &:hover {
        opacity: 0.7;;
    }
}


// All tiltels
.title-1 {
    font-size: $title_font_size;
    font-weight: 500;
}






//Pop up style
.pop-in-middle-screen {
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 100vh;
    background-color: $site_black_overlay;
    & > div {
        position: absolute;
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        background: $site_black;
        border-radius: 10px;
        padding: 20px;
        color: white;
        width: 500px;
        .new-post-title {
            p{
                display: inline-block;
            }
            .icon-link {
                float: right;
            }
        }
    }
}






// friends-profile
.friends-profile {
    .user-image {
        img {
            width: 100%;
            border-radius: 7px;
        }
    }
}