// User Box Modules //
.user-box-module {
    .user-name-image{
        display: inline-flex;
        align-items: center;
        p {
            font-size: 0.8em;
        }
        .user-image {
        
            img {
                width: 50px;
                height: 50px;
                @include gradient-border(2px, 30%);
                margin-right: .4em;
                object-fit: cover;
            }
        }

        .user-info {
            .user-name {
                color: $gray-text-color;
            }
        }
        
    }
    .user-switch-link {
        display: inline-block;
        float: right;
        padding: 10px 0;
    }
}














// User Head Modules
.user-head-module {
    .user-head-image {
        width: 60px;
        height: 60px;
        @include gradient-border(3px, 30%);
        object-fit: cover;
        object-position: top;
       
    }   
    .user-head-id {
        text-align: center;
        font-size: $small_font_size;
        color: $gray-text-color;
    }
}
















// User post
.user-post {
    border-bottom: 1px solid $default-border-color;
    padding-bottom: 15px;
    .post-heading {
        .image-name {
            display: inline-flex;
            align-items: center;
            img {
                width: 40px;
                @include gradient-border(3px, 30%);
                margin-right: 10px;
                object-fit: cover;
                height: 40px;
            }
            .user-post-id {
                font-weight: 600;
                font-size: $default-user-font-size;
                margin-right: 5px;
            }

            .user-post-timeago  {
                display: block;
                .material-symbols-outlined {
                    height: 10px;
                }
                span {
                    font-size: $default-user-font-size;
                    font-weight: 200;
                } 
            }
        }

        .post-menus {
            display: inline-block;
            float: right;
        }
    }
    .post-main-image {
        img {
            width: 100%;
            object-fit: cover;
        }
    }

    .post-bottom-info {
        .top {
            .top-left {
                display: inline-block
            }
            .top-right {
                display: inline-block;
                float: right;
            }
        }

        .post-description {
            .post-by{

                .user_like {
                    color: $gray-text-color;
                }
            }
            
        }

        .post-comment{
            .comment-text {
                width: 90%;
                display: inline-block;
                .from-comment {
                    display: flex;
                    align-items: center;
                }
                 input {
                    width: 100%;
                    background: rgba(0, 0, 0, 0.2);
                    padding: 5px 5px;
                    border-radius: 5px;
                    margin-right: 5px;
                    border: none;
                    color: $primary-text-color;
                    font-size: $default-user-font-size;
                    &::placeholder {
                        font-size: $default-user-font-size;
                    }
                    &:focus {
                        outline: none;
                    }
                 }
            }
            .comment-emoji {
                display: inline-block;
                float: right;
            }
        }
    }
}






// user-own-post
.user-own-post {
    max-width: $mobile_content_max_width;
    margin: auto;
    .post-heading{
        
    }
}



















// new-post-module
.new-post-module {
    .new-post-form {
        .input-dft {
            margin: 2px 0px !important;
        }
        input[type="file"]::file-selector-button {
            border-radius: 4px;
            padding: 0 16px;
            height: 40px;
            cursor: pointer;
            background-color: white;
            border: 1px solid rgba(0, 0, 0, 0.16);
            box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
            margin-right: 16px;
            transition: background-color 200ms;
          }
          
          /* file upload button hover state */
          input[type="file"]::file-selector-button:hover {
            background-color: #f3f4f6;
          }
          
          /* file upload button active state */
          input[type="file"]::file-selector-button:active {
            background-color: #e5e7eb;
          }
          
    }
}














// friend single post
.friend-single-post {

    .post-menus {
        display: none !important;
    }

    .top-right {
        display: none !important;
    }
    .post-main-image {
        img {
            max-height: 300px;
        }
    }
}













///suggested_friends
.suggested_friends {
    .secondery-btn {
        display: none;
    }
}




// search-module
.serach-result {
    overflow-y: auto;
    @include scroll_bar_style;
    max-height: 300px;
    ul {
        li {
            padding: 5px 0;
            border-bottom: 1px solid $default-border-color;
            
        }
    }
    .image-des {
        display: grid;
        grid-template-columns: 60px auto;
        column-gap: 10px;
        img {
            height: 60px !important;
            width: 60px;
            @include gradient-border(2px, 20%);
            object-fit: cover;
        }
    }
}





.show_result_page {
    margin: 0 10%;
    margin-top: 70px;


    .post-details-text {
        font-size: $small_font_size;
        color: $gray-text-color;
    }
}