$mobile-max-width: 768px;

@media only screen and (max-width: $mobile-max-width) {
    // Right side bar
    .right-sidebar-col {
        display: none;
    }







    // Middle side bar
    
    .middle-sidebar {
        margin-left: 0 !important;
    }






    // Leftside bar
    .left-sidebar-col {
        position: fixed;
        bottom: 40px;
        background: $mobile-header-background;
        bottom: -1px;
        height: 30px;
        padding: 0px !important;
        border-top: 1px solid $default-border-color;
        border-right: none;
        background: $mobile-header-background !important;
        .left-sidebar {
            padding-top: 0 !important;
            .logo {
                display: none;
            }

        
            .left-sidebar-bottom {
                display: none;
            }
            
            .left-sidebar-menu {
                margin: 5px 0 !important;

                ul {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    li {
                        display: inline-block;
                        margin-bottom: 0px !important;
                        .left-menu-text {
                            display: none;
                        }
                    }
                }
            }
        }
    }







    // Header
    .main-header {
        margin-top: $mobile_header_give_space;
    }






    // Page - Main home page
    .main-home{
        padding: 0 5%!important;
    }





    // Page - profile
    .user-profile {
        max-width: $mobile_content_max_width;
        margin: auto;
        margin-top: $mobile_header_give_space;
        .user-all-post {
            ul li {
                width: 80%;
                margin: auto;
                display: block;
                margin-bottom: 40px;
                img{
                    height: auto;
                }
            }

        }
    }




    // Pop up style
    .pop-in-middle-screen > div{
        width: 95%;
    }



    // Friends profile
    .friends-profile {
        .user-image {
            img {
                max-width: 300px;
            }
        }
    }




}