$mobile-max-width: 768px;

@media only screen and (max-width: $mobile-max-width) {

    // Right side bar
    .right-sidebar-col {
        border: none;
        position: fixed;
        height: 40px;
        bottom: 29px;
        background: rgba(0, 0, 0, 0.4);
        padding: 5px !important;

        .right-sidebar-user {
            display: none;
        }
        .right-sidebar-suggested-text{
            display: none;
            p,a {
                font-size: $small_font_size !important;
            }
        }

        .friends-line {
            overflow-x: auto;
            white-space: nowrap;
            @include scroll_bar_style;
            
            ul {
                display: flex;
                align-items: center;
                gap: 20px;
                justify-content: space-around;
               li {
                width: 40px;
                display: inline-block;

                .user-box-module {
                    width: 55px;
                }
               } 
            }
            .user-name-image {
                 display: block; 
                 text-align: center; 

                 .user-info {
                   display: none;
                 }

                 .user-image {
                    text-align: left;
                    img {
                        width: 30px;
                        height: 30px;
                    }
                 }
            }

            .user-switch-link, .user-name {
                display: none;
            }




            .suggested-all-friends {
                .user-switch-link {
                    margin-top: -25px;
                    margin-left: 10px;
                    display: block;
                    padding: 0;
                    a {
                        font-size: $small_font_size;
                    }
                }
            }



        }


    }







    // Middle side bar
    
    .middle-sidebar {
        margin-left: 0 !important;
    }




    // Leftside bar
    .left-sidebar-col {
        position: fixed;
        bottom: 40px;
        background: $mobile-header-background;
        bottom: -1px;
        height: 30px;
        padding: 0px !important;
        border-top: 1px solid $default-border-color;
        border-right: none;
        background: $mobile-header-background !important;
        .left-sidebar {
            padding-top: 0 !important;
            .logo {
                display: none;
            }

        
            .left-sidebar-bottom {
                display: none;
            }
            
            .left-sidebar-menu {
                margin: 5px 0 !important;

                ul {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    li {
                        display: inline-block;
                        margin-bottom: 0px !important;
                        .left-menu-text {
                            display: none;
                        }
                    }
                }
            }
        }
    }







    // Header
    .main-header {
        margin-top: $mobile_header_give_space;
    }






    // Page - Main home page
    .main-home{
        padding: 0 5%!important;
    }




    // Page - profile
    .user-profile {
        max-width: $mobile_content_max_width;
        margin: auto;
        margin-top: $mobile_header_give_space;
        .user_all_post_ul {
            max-width: 80%;
            margin: auto;
        }
    }



    // Pop up style
    .pop-in-middle-screen .pop-data-box{
        width: 85%;
        max-width: 350px; 

        img {
            height: 200px;
            object-fit: cover;
        }

    }



    // Friends profile
    .friends-profile {
        .user-image {
            img {
                max-width: 300px;
            }
        }
    }



    // home overlay
    .home-overlay { 
        left: -150px;
    }



    //  icons
    .icon-link {
        .material-symbols-outlined {
            font-size: 1.5em;
        }
    }





    // Middle bar
    .middle-sidebar {

        .main-header{
            overflow-x: auto;
            white-space: nowrap;
            @include scroll_bar_style;
        }
    }





}