// Profile
.user-profile {
    max-width: $mobile_content_max_width;
    margin: auto;
    .user-image {
        overflow: hidden;
        img{
            width: 140px;
            height: 140px;
            display: block;
            border-radius: 50%;
            object-fit: cover;
            
        }
        
    }
    .user-info {
        h2{
            margin: 0px;
            line-height: 1em;
        }
        .user-name {
            color: $gray-text-color ;
            margin-bottom: 1em;
            font-size: $default-user-font-size;
        }
    }


    .user-all-post {
         .user_all_post_ul{
            
        }
    }

}





// HomeOver lay 
.home-overlay {
    position: fixed;
    top:-200px;
    left: -160px;
    transform: rotate(-15deg);
    transform-origin: top;
    overflow: hidden;
    width: 110vw;
    .overlayo-sac-1, .overlayo-sac-3 {
        animation: scroll_down 40s infinite linear;
    }
    .overlayo-sac-2 {
        animation: scroll_up 40s infinite linear;
    }



    .post-description {
        display: none;
    }
}


@keyframes scroll_down {
    0% {
        transform: translateY(-80%)
    }
    50% {
        transform: translateY(0%)
    }
    100% {
        transform: translateY(-80%)
    }
}

@keyframes scroll_up {
    0% {
        transform: translateY(0%)
    }
    50% {
        transform: translateY(-80%)
    }
    100% {
        transform: translateY(0%)
    }
}








// Right-sidebar 
.right-sidebar-col {
    position: fixed;
    @include primary-backround;
    border-left: 1px solid $default-border-color;
    right: 0;
    height: 100vh;
    padding-left: 0px;
    padding-right: 0px;
    .login-register {
        border-top: 1px solid $default-border-color;
    }


}


.right-sidebar-suggested-text {
    display: block;
    div {
        display: inline-block;
    }
    .suggested-see-all {
        float: right;
    }
}








// public-profile
.public-profile {
    .top-right{
        display: none !important;
    }
}