@import './_config';
@import './_resets';

@import './_home';
@import './_modules';
@import './pages';

@import './_responsive';
body {
    @include primary-backround;
    color: $primary-text-color;
    @include scroll_bar_style;
}





// Default sidebar 






// Left side bar
.left-sidebar-col {
    position: fixed;
    @include primary-backround;
    border-right: 1px solid $default-border-color;

    .left-sidebar {
        height: 100vh;
        .logo {
            width: 90%;
            img{
                object-fit: cover;
                width: 100%;
            }
        }
    }


    .left-sidebar-menu {
        ul {
            li {
                margin-bottom: $default-list-margin-bottom;
                cursor: pointer;
                p {
                    pointer-events: none;
                    user-select: none;
                }
            }
        }
    }


    .left-sidebar-bottom {
        position: absolute;
        bottom: 0;
        width: 100%;
        ul {
            li {
                margin-bottom: $default-list-margin-bottom;
                cursor: pointer;
                p {
                    pointer-events: none;
                    user-select: none;
                }
            }
        }
    }
}









// Main header
.main-header {
    ul {
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: space-around;
        li {
            display: inline-block;
        }
    }
}




// Middle sidebar
.middle-sidebar {
    margin-left: 16.6%;
    .main-home {
        padding: 0 20%;
    }
}










// Mobile header
.mobile-header {
    position: fixed;
    width: 100%;
    border-bottom: 1px solid $default-border-color;
    background: $mobile-header-background;

    .row {
        display: flex;
        align-items: center;
    }
    .logo {
        img {
            width: 100%;
            max-width: 120px;
        }
    }

}



