.white-link-hover {
  color: #fff;
}

.white-link-hover .left-menu-text {
  width: 0px;
  overflow: hidden;
  transition: 1s;
}
.white-link-hover:hover .left-menu-text {
  width: 100%;
}

.active .left-menu-text {
  width: 100%;
}

.default-btn {
  background: transparent;
  color: rgb(0, 180, 162);
  border: none;
  font-size: 12px;
}
.default-btn:hover {
  opacity: 0.8;
}

.secondery-btn {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background: rgb(0, 180, 162);
  width: 100%;
}
.secondery-btn:hover {
  background-color: #fff;
}

.delete-btn {
  background-color: rgb(255, 129, 129);
}

.user-logout-btn {
  background-color: rgb(42, 42, 42);
  color: white;
}
.user-logout-btn:hover {
  background-color: rgb(255, 129, 129);
}

.input-dft {
  width: 100%;
  background-color: #20032c;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  color: #fff;
}
.input-dft:focus {
  outline: none;
}
.input-dft::-moz-placeholder {
  font-weight: 300;
  color: gray;
  font-size: 16px;
}
.input-dft::placeholder {
  font-weight: 300;
  color: gray;
  font-size: 16px;
}

.icon-text {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.liked-icon {
  color: rgb(0, 180, 162) !important;
}

.icon-link .material-symbols-outlined {
  font-size: 24px;
  height: 40px;
  width: 35px;
  cursor: pointer;
}
.icon-link .material-symbols-outlined:hover {
  font-size: 2.5em;
}

.gray-out-text {
  color: gray;
  margin-bottom: 1em;
  font-size: 12px;
  margin-bottom: 0;
}

.hide {
  display: none;
}

.pointer {
  cursor: pointer;
}
.pointer:hover {
  opacity: 0.7;
}

.title-1 {
  font-size: 24px;
  font-weight: 500;
}

.top-alert {
  position: fixed;
  z-index: 999;
  width: 100%;
  animation: move 7s infinite alternate;
}
@keyframes move {
  0% {
    transform: translateY(-50px);
  }
  15% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100px);
  }
}
.top-alert .top-alert-module {
  max-width: 85%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #CC3300;
  padding: 5px 40px;
  border-radius: 0 0 5px 5px;
  padding-top: 30px;
  margin-top: 5px;
}
.top-alert .top-alert-module .alert-text {
  color: #fff;
  font-size: 1.2em;
  font-weight: 300;
  text-align: center;
}

.pop-in-middle-screen {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4352941176);
}
.pop-in-middle-screen .pop-data-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: black;
  border-radius: 10px;
  padding: 20px;
  padding-top: 40px;
  padding-bottom: 10px;
  color: white;
  width: 500px;
  overflow: hidden;
}
.pop-in-middle-screen .pop-data-box .new-post-title {
  position: absolute;
  top: 10px;
  right: 0;
}
.pop-in-middle-screen .pop-data-box .new-post-title p {
  display: inline-block;
}
.pop-in-middle-screen .pop-data-box .new-post-title .icon-link {
  float: right;
}
.pop-in-middle-screen .main-me {
  text-align: right;
  margin-top: 10px;
}
.pop-in-middle-screen .main-me a {
  color: gray;
  font-size: 12px;
}
.pop-in-middle-screen .main-me a:hover {
  color: rgb(0, 180, 162);
}

.friends-profile .user-image img {
  width: 100%;
  border-radius: 7px;
}

.all-comments ul {
  max-height: 60px;
  overflow: hidden;
  transition: all, 0.3s;
  padding-right: 5px;
}
.all-comments ul li {
  display: flex;
  align-items: baseline;
  padding: 3px 0;
}
.all-comments ul li p {
  font-size: 12px;
  color: gray;
  line-height: 1.2;
}
.all-comments ul li .comment_by {
  max-width: 80px;
}
.all-comments ul li .comment_by .user {
  color: #fff;
  font-weight: 300;
}
.all-comments ul li .comment {
  border-bottom: 1px solid #371b44;
  border-right: 1px solid #371b44;
  margin-bottom: 5px;
  padding-bottom: 5px;
  padding: 0 5px;
  margin-left: -1px;
}
.all-comments ul li .comment .comt-time {
  margin-top: 5px;
  font-weight: 400;
  padding-right: 5px;
  padding-bottom: 5px;
  height: 100%;
  font-size: 10px;
  text-align: right;
  color: rgb(91, 82, 97);
}
.all-comments .secondery-btn {
  border: 1px solid #371b44;
  background: transparent;
  padding: 3px;
  font-size: 12px;
  border-radius: 0 0 3px 3px;
  color: #fff;
  font-weight: 200;
}
.all-comments .secondery-btn:hover {
  color: rgb(239, 239, 239);
  background: #371b44;
}
.all-comments .full_comments {
  max-height: 400px;
  overflow: auto;
  /* Custom scrollbar styles for WebKit browsers */
}
.all-comments .full_comments::-webkit-scrollbar {
  width: 7px; /* Width of the scrollbar */
  height: 8px;
}
.all-comments .full_comments::-webkit-scrollbar-track {
  background: #20032c; /* Color of the track */
  border-radius: 10px; /* Optional: round corners */
}
.all-comments .full_comments::-webkit-scrollbar-thumb {
  background-color: #371b44; /* Color of the thumb */
  border-radius: 10px; /* Roundness of the thumb */
  border: 1px solid transparent; /* Padding around the thumb */
  background-clip: content-box; /* Ensures the padding is inside the box */
}
.all-comments .full_comments::-webkit-scrollbar-thumb:hover {
  background-color: rgb(91, 82, 97); /* Darker color when hovering */
}
.all-comments .full_comments::-webkit-scrollbar-corner {
  background: rgba(241, 241, 241, 0.4235294118); /* Background color of the bottom-right corner */
}

.search-module {
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.search-module .secondery-btn {
  background-color: #371b44;
  color: white;
  max-width: 80px;
}
.search-module .secondery-btn:hover {
  opacity: 0.9;
}
.search-module input {
  width: 100%;
  background-color: #20032c;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  color: #fff;
}
.search-module input:focus {
  outline: none;
}
.search-module input::-moz-placeholder {
  font-weight: 300;
  color: gray;
  font-size: 16px;
}
.search-module input::placeholder {
  font-weight: 300;
  color: gray;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-size: 14px;
  font-family: "roboto";
  transition: 0.1s;
}

ul {
  margin: 0;
  padding: 0;
}

.material-symbols-outlined {
  font-size: 18px;
  color: #fff;
}

p {
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

.user-box-module .user-name-image {
  display: inline-flex;
  align-items: center;
}
.user-box-module .user-name-image p {
  font-size: 0.8em;
}
.user-box-module .user-name-image .user-image img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 0.4em;
  border: 1px solid #371b44;
  -o-object-fit: cover;
     object-fit: cover;
}
.user-box-module .user-name-image .user-info .user-name {
  color: gray;
}
.user-box-module .user-switch-link {
  display: inline-block;
  float: right;
  padding: 10px 0;
}

.user-head-module .user-head-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 4px solid #371b44;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.user-head-module .user-head-image:hover {
  border-color: gray;
}
.user-head-module .user-head-id {
  text-align: center;
  font-size: 12px;
  color: gray;
}

.user-post {
  border-bottom: 1px solid #371b44;
  padding-bottom: 15px;
}
.user-post .post-heading .image-name {
  display: inline-flex;
  align-items: center;
}
.user-post .post-heading .image-name img {
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 40px;
}
.user-post .post-heading .image-name .user-post-id {
  font-weight: 600;
  font-size: 12px;
  margin-right: 5px;
}
.user-post .post-heading .image-name .user-post-timeago {
  display: block;
}
.user-post .post-heading .image-name .user-post-timeago .material-symbols-outlined {
  height: 10px;
}
.user-post .post-heading .image-name .user-post-timeago span {
  font-size: 12px;
  font-weight: 200;
}
.user-post .post-heading .post-menus {
  display: inline-block;
  float: right;
}
.user-post .post-main-image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.user-post .post-bottom-info .top .top-left {
  display: inline-block;
}
.user-post .post-bottom-info .top .top-right {
  display: inline-block;
  float: right;
}
.user-post .post-bottom-info .post-description .post-by .user_like {
  color: gray;
}
.user-post .post-bottom-info .post-comment .comment-text {
  width: 90%;
  display: inline-block;
}
.user-post .post-bottom-info .post-comment .comment-text .from-comment {
  display: flex;
  align-items: center;
}
.user-post .post-bottom-info .post-comment .comment-text input {
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  padding: 5px 5px;
  border-radius: 5px;
  margin-right: 5px;
  border: none;
  color: #fff;
  font-size: 12px;
}
.user-post .post-bottom-info .post-comment .comment-text input::-moz-placeholder {
  font-size: 12px;
}
.user-post .post-bottom-info .post-comment .comment-text input::placeholder {
  font-size: 12px;
}
.user-post .post-bottom-info .post-comment .comment-text input:focus {
  outline: none;
}
.user-post .post-bottom-info .post-comment .comment-emoji {
  display: inline-block;
  float: right;
}

.user-own-post {
  max-width: 500px;
  margin: auto;
}
.new-post-module .new-post-form {
  /* file upload button hover state */
  /* file upload button active state */
}
.new-post-module .new-post-form .input-dft {
  margin: 2px 0px !important;
}
.new-post-module .new-post-form input[type=file]::file-selector-button {
  border-radius: 4px;
  padding: 0 16px;
  height: 40px;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  transition: background-color 200ms;
}
.new-post-module .new-post-form input[type=file]::file-selector-button:hover {
  background-color: #f3f4f6;
}
.new-post-module .new-post-form input[type=file]::file-selector-button:active {
  background-color: #e5e7eb;
}

.friend-single-post .post-menus {
  display: none !important;
}
.friend-single-post .top-right {
  display: none !important;
}
.friend-single-post .post-main-image img {
  max-height: 300px;
}

.suggested_friends .secondery-btn {
  display: none;
}

.serach-result {
  overflow-y: auto;
  /* Custom scrollbar styles for WebKit browsers */
  max-height: 300px;
}
.serach-result::-webkit-scrollbar {
  width: 7px; /* Width of the scrollbar */
  height: 8px;
}
.serach-result::-webkit-scrollbar-track {
  background: #20032c; /* Color of the track */
  border-radius: 10px; /* Optional: round corners */
}
.serach-result::-webkit-scrollbar-thumb {
  background-color: #371b44; /* Color of the thumb */
  border-radius: 10px; /* Roundness of the thumb */
  border: 1px solid transparent; /* Padding around the thumb */
  background-clip: content-box; /* Ensures the padding is inside the box */
}
.serach-result::-webkit-scrollbar-thumb:hover {
  background-color: rgb(91, 82, 97); /* Darker color when hovering */
}
.serach-result::-webkit-scrollbar-corner {
  background: rgba(241, 241, 241, 0.4235294118); /* Background color of the bottom-right corner */
}
.serach-result ul li {
  padding: 5px 0;
  border-bottom: 1px solid #371b44;
}
.serach-result .image-des {
  display: grid;
  grid-template-columns: 100px auto;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.serach-result .image-des img {
  width: 100%;
  height: 50px !important;
  -o-object-fit: cover;
     object-fit: cover;
}

.show_result_page {
  margin: 0 10%;
  margin-top: 70px;
}
.show_result_page .post-details-text {
  font-size: 12px;
  color: gray;
}

.user-profile {
  max-width: 500px;
  margin: auto;
}
.user-profile .user-image {
  overflow: hidden;
}
.user-profile .user-image img {
  width: 140px;
  height: 140px;
  display: block;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.user-profile .user-info h2 {
  margin: 0px;
  line-height: 1em;
}
.user-profile .user-info .user-name {
  color: gray;
  margin-bottom: 1em;
  font-size: 12px;
}
.home-overlay {
  position: fixed;
  top: -200px;
  left: -160px;
  transform: rotate(-15deg);
  transform-origin: top;
  overflow: hidden;
  width: 110vw;
}
.home-overlay .overlayo-sac-1, .home-overlay .overlayo-sac-3 {
  animation: scroll_down 40s infinite linear;
}
.home-overlay .overlayo-sac-2 {
  animation: scroll_up 40s infinite linear;
}
.home-overlay .post-description {
  display: none;
}

@keyframes scroll_down {
  0% {
    transform: translateY(-80%);
  }
  50% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-80%);
  }
}
@keyframes scroll_up {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-80%);
  }
  100% {
    transform: translateY(0%);
  }
}
.right-sidebar-col {
  position: fixed;
  background: rgb(6, 0, 6);
  background: linear-gradient(0deg, rgb(0, 0, 0) 6%, rgb(50, 22, 37) 34%, rgb(0, 0, 0) 80%);
  background-attachment: fixed;
  border-left: 1px solid #371b44;
  right: 0;
  height: 100vh;
  padding-left: 0px;
  padding-right: 0px;
}
.right-sidebar-col .login-register {
  border-top: 1px solid #371b44;
}

.right-sidebar-suggested-text {
  display: block;
}
.right-sidebar-suggested-text div {
  display: inline-block;
}
.right-sidebar-suggested-text .suggested-see-all {
  float: right;
}

.public-profile .top-right {
  display: none !important;
}

@media only screen and (max-width: 768px) {
  .right-sidebar-col {
    border: none;
    position: fixed;
    height: 40px;
    bottom: 29px;
    background: rgba(0, 0, 0, 0.4);
    padding: 5px !important;
  }
  .right-sidebar-col .right-sidebar-user {
    display: none;
  }
  .right-sidebar-col .right-sidebar-suggested-text {
    display: none;
  }
  .right-sidebar-col .right-sidebar-suggested-text p, .right-sidebar-col .right-sidebar-suggested-text a {
    font-size: 12px !important;
  }
  .right-sidebar-col .friends-line {
    overflow-x: auto;
    white-space: nowrap;
    /* Custom scrollbar styles for WebKit browsers */
  }
  .right-sidebar-col .friends-line::-webkit-scrollbar {
    width: 7px; /* Width of the scrollbar */
    height: 8px;
  }
  .right-sidebar-col .friends-line::-webkit-scrollbar-track {
    background: #20032c; /* Color of the track */
    border-radius: 10px; /* Optional: round corners */
  }
  .right-sidebar-col .friends-line::-webkit-scrollbar-thumb {
    background-color: #371b44; /* Color of the thumb */
    border-radius: 10px; /* Roundness of the thumb */
    border: 1px solid transparent; /* Padding around the thumb */
    background-clip: content-box; /* Ensures the padding is inside the box */
  }
  .right-sidebar-col .friends-line::-webkit-scrollbar-thumb:hover {
    background-color: rgb(91, 82, 97); /* Darker color when hovering */
  }
  .right-sidebar-col .friends-line::-webkit-scrollbar-corner {
    background: rgba(241, 241, 241, 0.4235294118); /* Background color of the bottom-right corner */
  }
  .right-sidebar-col .friends-line ul {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-around;
  }
  .right-sidebar-col .friends-line ul li {
    width: 40px;
    display: inline-block;
  }
  .right-sidebar-col .friends-line ul li .user-box-module {
    width: 55px;
  }
  .right-sidebar-col .friends-line .user-name-image {
    display: block;
    text-align: center;
  }
  .right-sidebar-col .friends-line .user-name-image .user-info {
    display: none;
  }
  .right-sidebar-col .friends-line .user-name-image .user-image {
    text-align: left;
  }
  .right-sidebar-col .friends-line .user-name-image .user-image img {
    width: 30px;
    height: 30px;
  }
  .right-sidebar-col .friends-line .user-switch-link, .right-sidebar-col .friends-line .user-name {
    display: none;
  }
  .right-sidebar-col .friends-line .suggested-all-friends .user-switch-link {
    margin-top: -25px;
    margin-left: 10px;
    display: block;
    padding: 0;
  }
  .right-sidebar-col .friends-line .suggested-all-friends .user-switch-link a {
    font-size: 12px;
  }
  .middle-sidebar {
    margin-left: 0 !important;
  }
  .left-sidebar-col {
    position: fixed;
    bottom: 40px;
    background: #371b44;
    bottom: -1px;
    height: 30px;
    padding: 0px !important;
    border-top: 1px solid #371b44;
    border-right: none;
    background: #371b44 !important;
  }
  .left-sidebar-col .left-sidebar {
    padding-top: 0 !important;
  }
  .left-sidebar-col .left-sidebar .logo {
    display: none;
  }
  .left-sidebar-col .left-sidebar .left-sidebar-bottom {
    display: none;
  }
  .left-sidebar-col .left-sidebar .left-sidebar-menu {
    margin: 5px 0 !important;
  }
  .left-sidebar-col .left-sidebar .left-sidebar-menu ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .left-sidebar-col .left-sidebar .left-sidebar-menu ul li {
    display: inline-block;
    margin-bottom: 0px !important;
  }
  .left-sidebar-col .left-sidebar .left-sidebar-menu ul li .left-menu-text {
    display: none;
  }
  .main-header {
    margin-top: 70px;
  }
  .main-home {
    padding: 0 5% !important;
  }
  .user-profile {
    max-width: 500px;
    margin: auto;
    margin-top: 70px;
  }
  .user-profile .user_all_post_ul {
    max-width: 80%;
    margin: auto;
  }
  .pop-in-middle-screen .pop-data-box {
    width: 85%;
    max-width: 350px;
  }
  .pop-in-middle-screen .pop-data-box img {
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .friends-profile .user-image img {
    max-width: 300px;
  }
  .home-overlay {
    left: -150px;
  }
  .icon-link .material-symbols-outlined {
    font-size: 1.5em;
  }
  .middle-sidebar .main-header {
    overflow-x: auto;
    white-space: nowrap;
    /* Custom scrollbar styles for WebKit browsers */
  }
  .middle-sidebar .main-header::-webkit-scrollbar {
    width: 7px; /* Width of the scrollbar */
    height: 8px;
  }
  .middle-sidebar .main-header::-webkit-scrollbar-track {
    background: #20032c; /* Color of the track */
    border-radius: 10px; /* Optional: round corners */
  }
  .middle-sidebar .main-header::-webkit-scrollbar-thumb {
    background-color: #371b44; /* Color of the thumb */
    border-radius: 10px; /* Roundness of the thumb */
    border: 1px solid transparent; /* Padding around the thumb */
    background-clip: content-box; /* Ensures the padding is inside the box */
  }
  .middle-sidebar .main-header::-webkit-scrollbar-thumb:hover {
    background-color: rgb(91, 82, 97); /* Darker color when hovering */
  }
  .middle-sidebar .main-header::-webkit-scrollbar-corner {
    background: rgba(241, 241, 241, 0.4235294118); /* Background color of the bottom-right corner */
  }
}
body {
  background: rgb(6, 0, 6);
  background: linear-gradient(0deg, rgb(0, 0, 0) 6%, rgb(50, 22, 37) 34%, rgb(0, 0, 0) 80%);
  background-attachment: fixed;
  color: #fff;
  /* Custom scrollbar styles for WebKit browsers */
}
body::-webkit-scrollbar {
  width: 7px; /* Width of the scrollbar */
  height: 8px;
}
body::-webkit-scrollbar-track {
  background: #20032c; /* Color of the track */
  border-radius: 10px; /* Optional: round corners */
}
body::-webkit-scrollbar-thumb {
  background-color: #371b44; /* Color of the thumb */
  border-radius: 10px; /* Roundness of the thumb */
  border: 1px solid transparent; /* Padding around the thumb */
  background-clip: content-box; /* Ensures the padding is inside the box */
}
body::-webkit-scrollbar-thumb:hover {
  background-color: rgb(91, 82, 97); /* Darker color when hovering */
}
body::-webkit-scrollbar-corner {
  background: rgba(241, 241, 241, 0.4235294118); /* Background color of the bottom-right corner */
}

.left-sidebar-col {
  position: fixed;
  background: rgb(6, 0, 6);
  background: linear-gradient(0deg, rgb(0, 0, 0) 6%, rgb(50, 22, 37) 34%, rgb(0, 0, 0) 80%);
  background-attachment: fixed;
  border-right: 1px solid #371b44;
}
.left-sidebar-col .left-sidebar {
  height: 100vh;
}
.left-sidebar-col .left-sidebar .logo {
  width: 90%;
}
.left-sidebar-col .left-sidebar .logo img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.left-sidebar-col .left-sidebar-menu ul li {
  margin-bottom: 1.5em;
  cursor: pointer;
}
.left-sidebar-col .left-sidebar-menu ul li p {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.left-sidebar-col .left-sidebar-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.left-sidebar-col .left-sidebar-bottom ul li {
  margin-bottom: 1.5em;
  cursor: pointer;
}
.left-sidebar-col .left-sidebar-bottom ul li p {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.main-header ul {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-around;
}
.main-header ul li {
  display: inline-block;
}

.middle-sidebar {
  margin-left: 16.6%;
}
.middle-sidebar .main-home {
  padding: 0 20%;
}

.mobile-header {
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #371b44;
  background: #371b44;
}
.mobile-header .row {
  display: flex;
  align-items: center;
}
.mobile-header .logo img {
  width: 100%;
  max-width: 120px;
}/*# sourceMappingURL=main.css.map */